// general styling
body {
  margin: 0;
  height: 100%;
}

.container {
  min-height: 100%;
}

.page {
  min-height: 100%;
  width: 100%;
  margin: 0;

}

#page1 {
  background-color: black;
  height: 100vh;
}

#page2 {
  background-color: white;
  height: 30vh;
}

#page3 {
  background-color: grey;
  height: 100%;
  min-height: 100vh;
}

.content {
  position: absolute;
  width: 95%;
}

a {
  text-decoration: none;
  color: #DAB398;
}

h2 {
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
  margin-bottom: -10px;
}

span {
  font-family: 'Pragati Narrow', sans-serif;
  font-size: 22px;
}

// nav styling
nav {

  ul {
    list-style-type: none;
    margin-right: 20px;
    float: left;
    width: 95%;

    :first-child {
      float: left;
    }

    li {
      display: inline-block;
      margin: 0 10px;
      font-weight: bold;
      float: right;
      z-index: 1;
    }
  }
}

// page specific styling
.non-main {
  margin: 70px 50px;
}

.last {
  margin: 20px 50px;

  h2 {
    text-align: right;
    margin-right: 40px;
    font-family: 'Gochi Hand', cursive;
  } 
}

.title {
  margin: 220px auto 0 auto;
  display: block;
  width: 80%;
  float: left;
  background-color: rgba(255,255,255,0.5);
  padding: 20px 0;

  h1 {
    font-size: 70px;
    text-align: left;
    width: 70%;
    margin: 0 auto;
    font-family: 'Gochi Hand', cursive;
  }

  h3 {
    font-size: 26px;
    text-align: left;
    width: 70%;
    margin: 0 auto;
    font-family: 'Pragati Narrow', sans-serif;
    line-height: 0.9;
  }

  @media (max-width: 544px) {
    margin: 0 auto;
  }  
}

.social-media {
  width: 60px;
  margin-right: 32px;

  @media (max-width: 544px) {
    width: 40px;
  }
}

li {
  list-style-type: none;
  display: inline-block;
}

.flickrimage {
  margin: 10px;
  display: inline-block;
  width: 200px;

  @media (max-width: 544px) {
    width: 100px;
  } 
}

.next {
  display: inline-block;
  height: 100px;
  margin: 10px;
  vertical-align: middle;
}

